#spring.application.name=sportscenter
server:
  port: 8081

spring:
  application:
    name: SportsCenter
  datasource:
    url: jdbc:mysql://localhost:3306/sports-center
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
